/*
.bundle/
.yardoc
_yardoc/
coverage/
# /doc/
# /pkg/
/spec/reports/
tmp
tmp.d*
.DS_Store
Thumbs.db
Thumbs.db:encryptable
desktop.ini

# white list
!/rbi
!/Gemfile
!/Rakefile
!/.git*
!/License
!/docs
!/lib
!/*.gemspec
!/test
!/bin
!/assets
